useDynLib(hibayes, .registration=TRUE)
export(bayes)
export(sbayes)
export(ldmat)
export(read_plink)
importFrom(Rcpp, evalCpp)
import(BH)
import(stats)
import(bigmemory)
import(Matrix)
importFrom(methods, is)
importFrom(methods, getPackageName)
importFrom(utils, read.table)
importFrom(utils, write.table)
importFrom(utils, packageVersion)
importFrom(bigmemory, attach.big.matrix)
